@use './variables' as *;
@use './functions' as *;

@mixin flex-container($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin hero-image($url) {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url($url);
  background-size: cover;
  background-position: center;
}

@mixin apply-color($property, $palette, $color) {
  #{$property}: get-color($palette, $color);
}

@mixin apply-mobile-typography($element) {
  font-size: get-mobile-typography($element, 'font-size');
  line-height: get-mobile-typography($element, 'line-height');
  font-weight: get-mobile-typography($element, 'font-weight');
}
