@use './variables' as *;

@mixin tablet {
  @media (min-width: $breakpoint-medium) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-large) {
    @content;
  }
}

@mixin flex-container($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin reset-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@mixin divider {
  border-bottom: $form-field-border;
}
