// Font weights
$font-weight-regular: 400;
$font-weight-demi: 600;
$font-weight-bold: 700;

// Mobile typography
$mobile-typography: (
  page-header: (
    font-size: 1.5rem,
    line-height: 2rem,
    font-weight: $font-weight-bold,
  ),
  section-header: (
    font-size: 1.5rem,
    line-height: 2rem,
    font-weight: $font-weight-bold,
  ),
  subheader: (
    font-size: 0.875rem,
    line-height: 1.375rem,
    font-weight: $font-weight-demi,
  ),
  body: (
    font-size: 0.8125rem,
    line-height: 1.125rem,
    font-weight: $font-weight-regular,
  ),
  footer: (
    font-size: 0.8125rem,
    line-height: 1.125rem,
    font-weight: $font-weight-regular,
  ),
  labels-and-buttons: (
    font-size: 0.625rem,
    line-height: 1.25rem,
    font-weight: $font-weight-bold,
  ),
);

// Color palette
$color-palette: (
  primary: (
    black: #323232,
    silver: #afafaf,
    white: #ffffff,
  ),
  secondary: (
    black: #000000,
    silver: #e1e1e1,
    white: #fafafa,
  ),
);
