@use './partials/' as *;

.header {
  background-color: $primary-color-black;
  padding-top: $padding-sm;

  @include tablet {
    @include flex-container;
    gap: $padding-xl;
    padding-top: 0;
  }

  &__logo {
    display: block;
    margin: 0 auto;

    @include tablet {
      padding: $padding-lg;
      padding-left: 0;
    }

    @include desktop {
      margin-left: 10.2vw;
    }
  }
}

.nav {
  @include tablet {
    @include flex-container;
    gap: $padding-2xl;
    padding: 0;
  }

  &__list {
    @include flex-container($justify: space-around);
    @include reset-list;
    gap: inherit;
  }

  &__item {
    color: $secondary-color-gray;
    text-align: center;
    width: 100%;
  }

  &__link {
    @include apply-mobile-typography(body);
    padding: 0.75rem 0 $padding-xs 0;
    transition: color 0.5s ease;
    text-decoration: none;
    font-weight: inherit;
    color: inherit;
    display: block;

    @include tablet {
      @include apply-typography(body);
      padding: $padding-lg 0;
      font-weight: inherit;
    }

    &--active {
      border-bottom: 3px solid $primary-color-white;
      font-weight: $font-weight-demi;
      color: $primary-color-white;
    }

    &:hover {
      @extend .nav__link--active;
      color: LightGoldenRodYellow;
      animation: pulse 0.5s ease-in-out infinite;
    }
  }
}

.hero {
  @include flex-container($align: center);
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url('../assets/images/hero-bio.jpg');
  background-position: center;
  background-size: cover;
  padding-left: $padding-sm;
  min-height: 12rem;

  @include tablet {
    background-position: bottom;
    padding-left: $padding-xl;
    min-height: 27.8rem;
  }

  @include desktop {
    background-position: 50% 25%;
    min-height: 39rem;
    padding-left: 10.2vw;
  }

  &__title {
    @include apply-mobile-typography(page-header);
    color: $primary-color-white;
    margin: 0;

    @include tablet {
      @include apply-typography(page-header);
    }
  }
}

.about {
  padding: $padding-sm $padding-sm 0 $padding-sm;

  @include tablet {
    padding: $padding-xl $padding-xl 0 $padding-xl;
  }

  @include desktop {
    padding: $padding-xl 10.2vw 0 10.2vw;
  }

  &__title {
    @include apply-mobile-typography(section-header);
    color: $primary-color-black;
    padding-bottom: $padding-xs;
    margin: 0;

    @include tablet {
      @include apply-typography(section-header);
      padding-bottom: $padding-lg;
    }
  }

  &__content {
    @include tablet {
      margin: 0 3.6rem;
    }

    @include desktop {
      margin: 0 5.5rem;
    }
  }

  &__image-container {
    @include flex-container($align: flex-end);
    margin-bottom: $padding-xs;
    max-height: 50vw;
    overflow: hidden;

    @include tablet {
      align-items: center;
      margin-bottom: $padding-lg;
      max-height: 42vw;
    }

    @include desktop {
      max-height: 36vw;
    }
  }

  &__image {
    width: 100%;
  }

  &__quote {
    @include apply-mobile-typography(quote);
    color: $primary-color-black;
    padding-bottom: $padding-xs;
    margin: 0;

    @include tablet {
      @include apply-typography(quote);
      padding-bottom: 0.8rem;
    }

    @include desktop {
      width: 78%;
    }
  }

  &__quote-footer {
    @include apply-mobile-typography(body);
    font-weight: $font-weight-demi;
    color: $primary-color-black;
    padding-bottom: $padding-md;
    margin: 0;

    @include tablet {
      @include apply-typography(body);
      font-weight: $font-weight-demi;
      padding-bottom: 2.8rem;
    }

    @include desktop {
      font-size: 0.98rem;
    }
  }

  &__subtitle {
    @include apply-mobile-typography(subheader);
    color: $secondary-color-black;
    padding-bottom: 0.75rem;
    margin: 0;

    @include tablet {
      @include apply-typography(subheader);
      padding-bottom: $padding-md;
    }
  }

  &__details {
    @include tablet {
      @include flex-container($justify: flex-start, $align: flex-start);
      gap: 2.5rem;
    }
  }

  &__text {
    @include apply-mobile-typography(body);
    color: $primary-color-black;
    padding-bottom: $padding-sm;
    margin: 0;

    @include tablet {
      @include apply-typography(body);
      padding-bottom: $padding-xl;
    }
  }
}

.photos {
  background-color: $secondary-color-white;
  padding: $padding-sm $padding-sm 0rem $padding-sm;

  @include tablet {
    padding: $padding-xl $padding-xl 0 $padding-xl;
  }

  @include desktop {
    padding: $padding-xl 10.2vw 0 10.2vw;
  }

  &__title {
    @include apply-mobile-typography(section-header);
    color: $primary-color-black;
    padding-bottom: $padding-xs;
    margin: 0;

    @include tablet {
      @include apply-typography(section-header);
      padding-bottom: 1.3rem;
    }
  }

  &__gallery {
    @include tablet {
      @include flex-container;
      padding-bottom: $padding-xl;
      flex-wrap: wrap;
      gap: $padding-lg;
    }
  }

  &__image {
    transition: filter 0.3s ease-in-out;
    padding-bottom: $padding-xs;
    filter: grayscale(100%);
    width: 100%;

    &:hover {
      filter: grayscale(0%);
    }

    @include tablet {
      flex-grow: 1;
      padding: 0;
      width: 29%;
    }
  }
}

.footer {
  background-color: $primary-color-black;
  padding: $padding-sm;

  @include tablet {
    padding: $padding-xl;
  }

  @include desktop {
    padding: $padding-xl 10.2vw;
  }

  &__socials {
    @include tablet {
      @include flex-container($align: baseline);
      padding-bottom: $padding-md;
      gap: 2rem;
    }

    @include desktop {
      gap: $padding-2xl;
    }
  }

  &__title {
    @include apply-mobile-typography(section-header);
    color: $primary-color-white;
    padding-bottom: $padding-sm;
    margin: 0;

    @include tablet {
      @include apply-typography(section-header);
    }
  }

  &__icons {
    @include flex-container;
    padding-bottom: $padding-lg;
    gap: 2rem;
  }

  &__info {
    @include flex-container(column);

    @include tablet {
      padding-bottom: $padding-lg;
      flex-direction: row;
      gap: 4rem;
    }
  }

  &__info-title {
    @include apply-mobile-typography(footer);
    font-weight: $font-weight-demi;
    color: $primary-color-white;
    padding-bottom: $padding-sm;
    margin: 0;

    @include tablet {
      @include apply-typography(footer);
      font-weight: $font-weight-demi;
      padding-bottom: $padding-lg;
    }
  }

  &__address {
    @include apply-mobile-typography(footer);
    color: $primary-color-white;
    font-style: normal;

    @include tablet {
      @include apply-typography(footer);
    }
  }

  &__email {
    @include apply-mobile-typography(footer);
    color: $primary-color-white;
    text-decoration: none;
    padding-bottom: $padding-xl;
    padding-top: $padding-sm;
    display: block;

    @include tablet {
      @include apply-typography(footer);
      padding-top: $padding-lg;
    }
  }

  &__text {
    @include apply-mobile-typography(footer);
    color: $primary-color-white;
    margin: 0;

    @include tablet {
      @include apply-typography(footer);
    }
  }

  &__logo-link {
    display: block;
    padding-bottom: $padding-sm;
    padding-top: $padding-sm;

    @include tablet {
      display: none;
    }

    &--primary {
      margin-left: auto;
      display: none;
      padding: 0;

      @include tablet {
        display: block;
      }
    }
  }

  &__copyright {
    @include apply-mobile-typography(footer);
    color: $primary-color-white;
    padding-bottom: $padding-xs;
    margin: 0;

    @include tablet {
      @include apply-typography(footer);
    }
  }
}
