@use './partials/' as *;

.nav {
  background-color: $primary-color-black;
  padding-top: 1rem;

  @include tablet {
    @include flex-container;
    padding: 0;
    gap: 4.5rem;
  }

  &__logo {
    display: block;
    margin: 0 auto;

    @include tablet {
      padding: 1.5rem 0 1.5rem 2.25rem;
      margin: 0;
    }
  }

  &__list {
    @include flex-container($justify: space-around);
    @include reset-list;

    @include tablet {
      gap: inherit;
    }
  }

  &__item {
    padding: 0.75rem 1rem 0.5rem 1rem;
    color: $secondary-color-gray;
    text-align: center;
    width: 100%;

    &--active,
    &:hover {
      border-bottom: 0.1875rem solid $primary-color-white;
      font-weight: $font-weight-demi;
      color: $primary-color-white;
    }

    @include tablet {
      @include flex-container($justify: center, $align: center);
      padding: 0;
    }
  }

  &__link {
    @include apply-mobile-typography(body);
    text-decoration: none;
    font-weight: inherit;
    color: inherit;
    display: block;

    @include tablet {
      @include apply-typography(body);

      font-weight: inherit;
      width: 100%;
    }
  }
}

.hero {
  @include flex-container($align: center);
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url('../assets/images/hero-bio.jpg');
  background-position: center;
  background-size: cover;
  padding-left: 1rem;
  min-height: 12rem;

  @include tablet {
    background-position: bottom;
    padding-left: 2.25rem;
    min-height: 29rem;
  }

  &__title {
    @include apply-mobile-typography(page-header);
    color: $primary-color-white;
    margin: 0;

    @include tablet {
      @include apply-typography(page-header);
    }
  }
}

.about {
  padding: 1rem 1rem 0 1rem;
  @include tablet {
    padding: 2.25rem 2.25rem 0 2.25rem;
  }

  &__title {
    @include apply-mobile-typography(section-header);
    color: $primary-color-black;
    padding-bottom: 0.5rem;
    margin: 0;

    @include tablet {
      @include apply-typography(section-header);
    }
  }

  &__image {
    width: 100%;
    padding-bottom: 0.5rem;
  }

  &__quote {
    @include apply-mobile-typography(body);
    font-weight: $font-weight-demi;
    color: $primary-color-black;
    margin: 0;
    padding-bottom: 0.5rem;
  }

  &__quotee {
    @include apply-mobile-typography(body);
    font-weight: $font-weight-demi;
    color: $primary-color-black;
    padding-bottom: 1.25rem;
    margin: 0;
  }

  &__subtitle {
    @include apply-mobile-typography(subheader);
    color: $secondary-color-black;
    padding-bottom: 0.75rem;
    margin: 0;
  }

  &__details {
    @include apply-mobile-typography(body);
    color: $primary-color-black;
    padding-bottom: 1rem;
    margin: 0;
  }
}

.photos {
  background-color: $secondary-color-white;
  padding: 1rem 1rem 0rem 1rem;

  &__title {
    @include apply-mobile-typography(section-header);
    color: $primary-color-black;
    padding-bottom: 0.5rem;
    margin: 0;
  }
}

.photo {
  padding-bottom: 0.5rem;
  width: 100%;
}

.footer {
  background-color: $primary-color-black;
  padding: 1rem 1rem;

  &__title {
    @include apply-mobile-typography(section-header);
    color: $primary-color-white;
    padding-bottom: 1rem;
    margin: 0;
  }

  &__icons {
    @include flex-container;
    padding-bottom: 1.5rem;
    width: 50%;
    gap: 2rem;
  }

  &__info {
    @include flex-container(column);
  }

  &__info-title {
    @include apply-mobile-typography(footer);
    font-weight: $font-weight-demi;
    color: $primary-color-white;
    padding-bottom: 1rem;
    margin: 0;
  }

  &__address {
    @include apply-mobile-typography(footer);
    color: $primary-color-white;
    font-style: normal;
  }

  &__email {
    @include apply-mobile-typography(footer);
    color: $primary-color-white;
    padding-bottom: 2rem;
    text-decoration: none;
    padding-top: 1rem;
    display: block;
  }

  &__details {
    @include apply-mobile-typography(footer);
    color: $primary-color-white;
    margin: 0;
  }

  &__logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__copyrite {
    @include apply-mobile-typography(footer);
    color: $primary-color-white;
    padding-bottom: 0.5rem;
    margin: 0;
  }
}
