@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
html {
  font-size: 100%;
  font-family: "Avenir Next LT Pro", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.nav {
  background-color: #323232;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 4.5rem;
    padding: 0;
  }
}
.nav__logo {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .nav__logo {
    padding: 1.5rem 0 1.5rem 2.25rem;
    margin: 0;
  }
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .nav__list {
    gap: inherit;
  }
}
.nav__item {
  padding: 0.75rem 1rem 0.5rem 1rem;
  color: #e1e1e1;
  text-align: center;
  width: 100%;
}
.nav__item--active, .nav__item:hover {
  border-bottom: 0.1875rem solid #ffffff;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 768px) {
  .nav__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
.nav__link {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
  display: block;
}
@media (min-width: 768px) {
  .nav__link {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    font-weight: inherit;
    width: 100%;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  padding-left: 1rem;
  min-height: 12rem;
}
@media (min-width: 768px) {
  .hero {
    background-position: bottom;
    padding-left: 2.25rem;
    min-height: 27.8rem;
  }
}
.hero__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: #ffffff;
  margin: 0;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 4.25rem;
  }
}

.about {
  padding: 1rem 1rem 0 1rem;
}
@media (min-width: 768px) {
  .about {
    padding: 2.25rem 2.25rem 0 2.25rem;
  }
}
.about__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: #323232;
  padding-bottom: 0.5rem;
  margin: 0;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 768px) {
  .about__content {
    padding: 0 3.6rem 0 3.6rem;
  }
}
.about__image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  max-height: 12rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .about__image-container {
    margin-bottom: 1.5rem;
    max-height: 21rem;
  }
}
.about__image {
  width: 100%;
}
.about__quote {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: #323232;
  padding-bottom: 0.5rem;
  margin: 0;
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 2rem;
    padding-bottom: 0.8rem;
  }
}
.about__quotee {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  font-weight: 600;
  color: #323232;
  padding-bottom: 1.25rem;
  margin: 0;
}
@media (min-width: 768px) {
  .about__quotee {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    font-weight: 600;
    padding-bottom: 2.8rem;
  }
}
.about__subtitle {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #000000;
  padding-bottom: 0.75rem;
  margin: 0;
}
@media (min-width: 768px) {
  .about__subtitle {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2rem;
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 768px) {
  .about__details-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.5rem;
  }
}
.about__details {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  padding-bottom: 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .about__details {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    padding-bottom: 2.25rem;
  }
}

.photos {
  background-color: #fafafa;
  padding: 1rem 1rem 0rem 1rem;
}
@media (min-width: 768px) {
  .photos {
    padding: 2.25rem 2.25rem 0rem 2.25rem;
  }
}
.photos__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: #323232;
  padding-bottom: 0.5rem;
  margin: 0;
}
@media (min-width: 768px) {
  .photos__title {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    padding-bottom: 1.3rem;
  }
}

@media (min-width: 768px) {
  .photo-gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding-bottom: 2.25rem;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}

.photo {
  padding-bottom: 0.5rem;
  width: 100%;
}
@media (min-width: 768px) {
  .photo {
    flex-grow: 1;
    padding: 0;
    width: 29%;
  }
}

.footer {
  background-color: #323232;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 2.25rem;
  }
}
@media (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding-bottom: 1.25rem;
    gap: 2rem;
  }
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: #ffffff;
  padding-bottom: 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
  }
}
.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 1.5rem;
  gap: 2rem;
}
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
@media (min-width: 768px) {
  .footer__info {
    padding-bottom: 1.5rem;
    flex-direction: row;
    gap: 3rem;
  }
}
.footer__info-title {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__info-title {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
  }
}
.footer__address {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #ffffff;
  font-style: normal;
}
@media (min-width: 768px) {
  .footer__address {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
  }
}
.footer__email {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 2rem;
  padding-top: 1rem;
  display: block;
}
@media (min-width: 768px) {
  .footer__email {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding-top: 1.5rem;
  }
}
.footer__details {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #ffffff;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__details {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
  }
}
.footer__logo {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__logo--primary {
  margin-left: auto;
  display: none;
  padding: 0;
}
@media (min-width: 768px) {
  .footer__logo--primary {
    display: block;
  }
}
.footer__copyrite {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #ffffff;
  padding-bottom: 0.5rem;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__copyrite {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
  }
}