@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.06);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.02);
  }
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
html {
  font-size: 100%;
  font-family: "Avenir Next LT Pro", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

* > * {
  margin: 0;
}

.header {
  background-color: #323232;
  padding-top: 1rem;
}
@media (min-width: 48rem) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 4rem;
    padding-top: 0.1875rem;
  }
}
.header__logo {
  display: block;
  margin: 0 auto;
}
@media (min-width: 48rem) {
  .header__logo {
    padding: 1.5rem 0;
    margin-left: 2.7rem;
    margin-top: 0.375rem;
  }
}
@media (min-width: 80rem) {
  .header__logo {
    margin-left: 10.2vw;
  }
}

@media (min-width: 48rem) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: inherit;
    padding: 0;
  }
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: inherit;
}
.nav__item {
  color: #e1e1e1;
  text-align: center;
  width: 100%;
}
.nav__link {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  padding: 0.75rem 0 0.5rem 0;
  transition: color 0.5s ease;
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
  display: block;
}
@media (min-width: 48rem) {
  .nav__link {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding: 1.5rem 0;
    font-weight: inherit;
  }
}
.nav__link--active, .nav__link:hover {
  border-bottom: 3px solid #ffffff;
  font-weight: 600;
  color: #ffffff;
}
.nav__link:hover {
  color: LightGoldenRodYellow;
}
@media (min-width: 48rem) {
  .nav__link:hover {
    animation: pulse 0.5s ease-in-out infinite;
  }
}

.hero {
  padding: 0 1rem;
  color: #ffffff;
}
@media (min-width: 48rem) {
  .hero {
    padding: 0 2.7rem;
  }
}
@media (min-width: 80rem) {
  .hero {
    aspect-ratio: 1.85;
    background-position: 50% 25%;
    padding: 0 10.2vw;
  }
}
.hero__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
@media (min-width: 48rem) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

.cta-button {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.25rem;
  color: #ffffff;
  background-color: #323232;
  border-radius: 4px;
  height: 2.5rem;
  padding: 0 2rem;
  border: none;
}
@media (min-width: 48rem) {
  .cta-button {
    line-height: 1.25rem;
    width: 9.375rem;
    align-self: flex-end;
    cursor: pointer;
  }
}
.cta-button:hover {
  background-color: #000000;
}

.footer {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  background-color: #323232;
  color: #ffffff;
  padding: 1rem;
}
@media (min-width: 48rem) {
  .footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 2.7rem;
  }
}
@media (min-width: 80rem) {
  .footer {
    padding: 2.7rem 10.2vw;
  }
}
@media (min-width: 48rem) {
  .footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding-bottom: 1.25rem;
    gap: 5vw;
  }
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 1rem;
  gap: 3vw;
}
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
@media (min-width: 48rem) {
  .footer__info {
    padding-bottom: 1.5rem;
    flex-direction: row;
    gap: 5vw;
  }
}
.footer__info-title {
  font-weight: 600;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  margin: 0 0.4219rem 0 0;
}
@media (min-width: 48rem) {
  .footer__info-title {
    padding-bottom: 1.5rem;
  }
}
.footer__address {
  font-style: normal;
}
.footer__email {
  color: inherit;
  text-decoration: none;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  display: block;
}
@media (min-width: 48rem) {
  .footer__email {
    padding-top: 1.5rem;
  }
}
.footer__logo-link {
  display: block;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
@media (min-width: 48rem) {
  .footer__logo-link {
    display: none;
  }
}
.footer__logo-link--primary {
  margin-left: auto;
  display: none;
  padding: 0;
}
@media (min-width: 48rem) {
  .footer__logo-link--primary {
    display: block;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  aspect-ratio: 1.7;
}
@media (min-width: 48rem) {
  .hero {
    aspect-ratio: 1.66;
  }
}

.about {
  padding: 1rem 1rem 0 1rem;
}
@media (min-width: 48rem) {
  .about {
    padding: 2.7rem 2.7rem 0 2.7rem;
  }
}
@media (min-width: 80rem) {
  .about {
    padding: 2.7rem 10.2vw 0 10.2vw;
  }
}
.about__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: #323232;
  padding-bottom: 0.5rem;
}
@media (min-width: 48rem) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 48rem) {
  .about__content {
    margin: 0 7.5vw;
  }
}
@media (min-width: 80rem) {
  .about__content {
    margin: 0 6.6vw;
  }
}
.about__image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 0.5rem;
  max-height: 50vw;
  overflow: hidden;
}
@media (min-width: 48rem) {
  .about__image-container {
    align-items: center;
    margin-bottom: 1.5rem;
    max-height: 42vw;
  }
}
@media (min-width: 80rem) {
  .about__image-container {
    max-height: 36vw;
  }
}
.about__image {
  width: 100%;
}
.about__quote {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: #323232;
  padding-bottom: 0.5rem;
}
@media (min-width: 48rem) {
  .about__quote {
    font-size: 1.375rem;
    line-height: 2rem;
    padding-bottom: 0.8rem;
  }
}
@media (min-width: 80rem) {
  .about__quote {
    width: 78%;
  }
}
.about__quote-footer {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: #323232;
  padding-bottom: 1.25rem;
}
@media (min-width: 48rem) {
  .about__quote-footer {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-bottom: 2.8rem;
  }
}
.about__subtitle {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #000000;
  padding-bottom: 0.75rem;
}
@media (min-width: 48rem) {
  .about__subtitle {
    font-size: 1.3rem;
    line-height: 2rem;
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 48rem) {
  .about__details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5vw;
  }
}
@media (min-width: 80rem) {
  .about__details {
    gap: 3vw;
  }
}
.about__text {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .about__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-bottom: 2.7rem;
  }
}

.photos {
  background-color: #fafafa;
  padding: 1rem 1rem 0rem 1rem;
}
@media (min-width: 48rem) {
  .photos {
    padding: 2.7rem 2.7rem 0 2.7rem;
  }
}
@media (min-width: 80rem) {
  .photos {
    padding: 2.7rem 10.2vw 0 10.2vw;
  }
}
.photos__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: #323232;
  padding-bottom: 0.5rem;
}
@media (min-width: 48rem) {
  .photos__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: 1.3rem;
  }
}
@media (min-width: 48rem) {
  .photos__gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding-bottom: 2.7rem;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}
.photos__image {
  transition: filter 0.3s ease-in-out;
  padding-bottom: 0.5rem;
  filter: grayscale(100%);
  width: 100%;
}
.photos__image:hover {
  filter: grayscale(0%);
}
@media (min-width: 48rem) {
  .photos__image {
    flex-grow: 1;
    padding: 0;
    width: 29%;
  }
}

.comments-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 0.625rem;
  font-weight: 600;
  color: #afafaf;
  gap: 1rem;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .comments-form {
    font-size: 0.75rem;
  }
}
.comments-form__form-avatar {
  min-width: 2.25rem;
  max-height: 2.25rem;
  background-color: blue;
  border-radius: 50%;
  margin-top: 1.5rem;
  background-image: url("../assets/images/Mohan-muruge.jpg");
  background-size: cover;
}
@media (min-width: 48rem) {
  .comments-form__form-avatar {
    min-width: 3rem;
    max-height: 3rem;
  }
}
.comments-form__inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}
.comments-form__input {
  min-height: 2.25rem;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin: 0.25rem 0 1rem 0;
  color: #323232;
  font-family: inherit;
  padding: 0 0.5rem;
  background-color: #fafafa;
}
@media (min-width: 48rem) {
  .comments-form__input {
    min-height: 3rem;
  }
}
.comments-form__input--textarea {
  padding: 0.5rem;
  min-height: 4rem;
  resize: none;
}
.comments-form__input::-moz-placeholder {
  color: #323232;
}
.comments-form__input::placeholder {
  color: #323232;
}

.comments {
  margin: 1rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
}
@media (min-width: 48rem) {
  .comments {
    margin: 2.7rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 80rem) {
  .comments {
    margin: 2.7rem 10.2vw;
  }
}
.comments__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: #323232;
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .comments__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 48rem) {
  .comments__content {
    margin: 0 7.5vw;
  }
}
@media (min-width: 80rem) {
  .comments__content {
    margin: 0 20.1vw;
  }
}
.comments__card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #e1e1e1;
}
.comments__avatar {
  min-width: 2.25rem;
  height: 2.25rem;
  background-color: #e1e1e1;
  border-radius: 50%;
}
@media (min-width: 48rem) {
  .comments__avatar {
    min-width: 3rem;
    height: 3rem;
  }
}
.comments__details {
  width: 100%;
}
.comments__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 0.5rem;
}
.comments__name {
  font-weight: 600;
}
.comments__date {
  color: #afafaf;
}