@use "./partials/globals";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.hero {
  @include flex-container(column);
  gap: $padding-sm;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url("../assets/images/hero-shows.jpg");
  background-position: 0% 0%;
  background-size: cover;

  @include tablet {
    gap: $padding-xl;
    background-position: center;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-position: 50% 25%;
  }

  &__subtitle {
    margin: $padding-lg 0 $padding-sm 0;
    font-size: $mobile-fs-subheader;
    font-weight: $font-weight-regular;
    line-height: $mobile-lh-subheader;

    @include tablet {
      margin-top: $padding-xl;
      font-size: $fs-subheader;
      line-height: $lh-subheader;
    }

    @include desktop {
      margin-top: 0;
    }
  }

  &__title {
    width: 15rem;

    @include tablet {
      width: 38.3rem;
    }

    @include desktop {
      width: 31.7rem;
    }
  }

  &__iframe {
    margin-bottom: $padding-lg;
    height: 7.4rem;
    width: 17.875rem;

    @include tablet {
      margin-bottom: $padding-xl;
      height: 8.5rem;
      width: 26rem;
    }

    @include desktop {
      margin: $padding-lg 0 0 0;
    }
  }
}

.shows {
  margin: $padding-sm;

  @include tablet {
    margin: $padding-xl $padding-sm $padding-lg $padding-sm;
  }

  @include desktop {
    @include flex-container;
    gap: 9rem;
    margin-right: $padding-desktop;
    margin-left: $padding-desktop;
  }

  &__title {
    font-size: $mobile-fs-section-header;
    font-weight: $font-weight-demi;
    line-height: $mobile-lh-section-header;
    color: $primary-color-black;

    @include tablet {
      margin: 0 0 $padding-sm $padding-sm;
      font-size: $fs-section-header;
      line-height: $lh-section-header;
    }

    @include desktop {
      margin: 0;
    }
  }

  &__content {
    width: 100%;
  }

  &__wrapper {
    display: none;
    padding: 1rem 1rem 0 1rem;
    gap: 1rem;

    @include tablet {
      @include flex-container;
      gap: $padding-sm;
    }

    @include desktop {
      margin-bottom: $padding-sm;
    }
  }

  &__list {
    padding: 0.125rem;
  }

  &__item {
    @include flex-container(column);
    padding-top: $padding-sm;
    @include divider;

    @include tablet {
      align-items: baseline;
      flex-direction: row;
      gap: $padding-sm;
      padding: $padding-sm $padding-sm 0 $padding-sm;
    }

    &:hover {
      background-color: $secondary-color-white;
      cursor: pointer;
    }

    &--active {
      background-color: $secondary-color-gray;
    }
  }

  &__label {
    padding: 0.0625rem;
    text-align: start;
    font-size: $mobile-fs-labels-and-buttons;
    font-weight: $font-weight-demi;
    line-height: $mobile-lh-labels-and-buttons;
    letter-spacing: 0.0313rem;
    color: $primary-color-gray;

    @include tablet {
      display: none;
      width: 100%;
      font-size: $fs-labels-and-buttons;
      line-height: $lh-labels-and-buttons;
    }

    &--top {
      @include tablet {
        display: block;
      }
    }
  }

  &__value {
    padding: 0.0625rem;
    margin-bottom: $padding-sm;
    font-size: $mobile-fs-body;
    font-weight: $font-weight-regular;
    line-height: $mobile-lh-body;
    color: $primary-color-black;

    @include tablet {
      width: 100%;
      font-size: $mobile-fs-body;
      line-height: $mobile-lh-body;
    }

    &--focus {
      font-weight: $font-weight-demi;
    }
  }

  &__action {
    @extend.shows__value;
  }
}

.cta-button {
  width: 100%;
}
